.sidebar {
    position: fixed;
    top: 51px;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #413E45;
    color: #ffefdb;
    font-size: 80px;
}
.sidebar-text {
  font-size: 40px;
}
.Blog {
    width: 80%;
    left: 0;
    height: auto;
    min-height: 100vh;
    display: flex;
    padding-left: 300px;
    padding-bottom: 4000px; /* Adjust in the future if needed depending on blog post article length */
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color:  #2F4454;
  }