#root {
    height: 100vh;
  }
  .link{
    color: #fff;
  }
  .heading {
    display: flex;
    flex-direction: row;
    text-align: left;
    color: #ffefdb;
    width: 80%
  }
  .text-body {
    display: flex;
    padding-right: 200px;
    text-align: left;
    color: #ffefdb;

  }
  .posts-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);

  }